RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{HTTP_HOST} ^listmaker\.ca$ [OR]
RewriteCond %{HTTP_HOST} ^www\.listmaker\.ca$
RewriteRule ^/?$ "https\:\/\/www\.listmaker\.ca\/public\/" [R=301,L]
